body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-left: 20px;
}

/* DROP DOWN MENUS */

.nav-bar {
    background-color: rgb(216, 95, 95);
    width: 100vw;
    height: 60px;
    display: flex;
}

.drop-down-main, .drop-down-option {
    border: transparent;
    margin: 0px 10px;
    width: 100px;
    height: 100%;
    background-color: rgb(216, 95, 95);
    color: white;
    font-size: 20px;
}

.drop-down-main:hover, .drop-down-main-selected, 
.drop-down-option:hover {
    background-color: hsl(0, 61%, 51%);
}

.drop-down-options {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.drop-down-option {
    font-size: 16px;
    height: 40px;
}

.drop-down-animation {
    animation: drop-down 0.15s linear;
}

@keyframes drop-down {
  0% { height: 0px }
  10% { height: 2px }
  25% { height: 5px }
  50% { height: 10px }
  75% { height: 18px }
  100% { height: 40px }
}

.drop-down-option-show {
    visibility: visible;
}


/* IMAGE SLIDER */

.image-slider-title {
    margin-top: 200px;
    margin-bottom: 40px;
}

.image-slider {
    display: flex;
}

.image-slider button {
    background-color: transparent;
    border: transparent;
}

.arrow-slider-container button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.arrow-slider-container button:hover {
    background-color: rgba(0, 0, 0, 0.100);
}

.arrow-slider-container button:active {
    background-color: rgba(0, 0, 0, 0.200);
}

#left-arrow-slider-container, #right-arrow-slider-container {
    background-color: white;
    display: flex;
    align-items: center;
}

#left-arrow-slider-container {
    padding-right: 10px;
    justify-content: right;
    width: 50px;
}

#right-arrow-slider-container {
    padding-left: 10px;
    flex: 1 1 auto;
}

.image-frame {
    width: 200px;
    height: 200px;
}

.image-container {
    display: flex;
    width: 1000px;
    position: relative;
    right: 0px;
    z-index: -1;
    transition: right 0s;
    transition-delay: 0.5s;
}

.image-container-animation {
    animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}

.image-slider-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.image-slider-buttons .filter-inactive:hover {
    filter: contrast(25%);
}

.filter-active {
    filter: contrast(100%);
}

.filter-inactive {
    filter: contrast(0%);
}