body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-left: 20px;
}

/* DROP DOWN MENUS */

.nav-bar {
    background-color: rgb(216, 95, 95);
    width: 100vw;
    height: 60px;
    display: flex;
}

.drop-down-main, .drop-down-option {
    border: transparent;
    margin: 0px 10px;
    width: 100px;
    height: 100%;
    background-color: rgb(216, 95, 95);
    color: white;
    font-size: 20px;
}

.drop-down-main:hover, .drop-down-main-selected, 
.drop-down-option:hover {
    background-color: hsl(0, 61%, 51%);
}

.drop-down-options {
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.drop-down-option {
    font-size: 16px;
    height: 30px;
}

.drop-down-option-show {
    visibility: visible;
}


/* IMAGE SLIDER */

.image-slider {
    display: flex;
}

#left-arrow-slider-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    border: 10px solid black;
}

#right-arrow-slider-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    border: 10px solid black;
}

#left-arrow {
}

.image-frame {
    width: 200px;
    height: 200px;
    border: 10px solid black;
}

.image-container {
    display: flex;
    width: 1000px;
    position: relative;
    right: 200px;
    z-index: -1;
}

.image-slider-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.image-slider-buttons button {
    background-color: transparent;
    /*border: transparent;*/
}